{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
	Mis Grupos
{% endblock %}


{% block page-title %}
	Mis Grupos
{% endblock %}


{% block content %}
				<div class="col-md-offset-9">
					<img src='{{ users.photo.url }}' class="img-circle" height="200e" width="200e"/><br>
				</div>
				<form>
				<div class="panel">
					<div class="form-group ">
				
						<blockquote>
							<p>{{offer.title}}</p>
							<footer>{{offer.description}}</footer>
						</blockquote>
						
						
						{{offer.keywords}}<br>
						
						
						{{offer.publication_date}} - {{offer.deadline}}
					</div>
					{% if is_owner %}
					<div><a href="/users/offers/remove/{{offer.id}}"/>
				        		<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"/>
				        		</a>
				     </div>
				     {% endif %}  
				</div>
			</form>

{% endblock %}
