{% extends "django_messages/base.html" %}
{% load staticfiles %}
{% load i18n %} 
{% load url from future %}



{% block adds %}
	<div>
		<a href="/users/messages/inbox">Bandeja de entrada</a><br>
		<a href="/users/messages/outbox">Bandeja de salida</a><br>
		<a href="/users/messages/trash">Eliminados</a><br>
		<a href="/users/messages/compose">Crear Mensaje</a><br>
		
	</div>
{% endblock %}

	
{% block content %}
<div>

		<h3>{% trans "Compose Message"%}</h3>

<form action="" method="post">
{% csrf_token %} 
<table>
{{ form.as_table }}
</table>
<input type="submit" value="{% trans "Send" %} &raquo;"/>
</form></div>
{% endblock %}
