{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
FAQ Editors/Journals
{% endblock %}

{% block header-navigation %}

      {% include "navigation-base.html" %}

{% endblock %}



{% block header-profile %}
{% endblock %}

{% block breadcrumbs %}

 

<!-- Header Starts -->
<!-- Header Ends -->

<div id="extra">
	<div id="breadcrumbs">
		<h1 class="element-invisible">FAQ Editor/Journals</h1>
		<div class="breadcrumb">
			<a href="/">Home</a> >> FAQ Editors/Journals
		</div>
	</div>
</div>
<div class="clear"></div>

<div id="main">
	<div id="post-content">
		<!--<h1 class="page-title">FAQ</h1>-->
		<div class="region region-content">
			<div id="block-system-main" class="block block-system">




				<!-- CONTENIDO DE LA PAGINA -->

				<div class="content">

					<h3>
						<a name="FAQs" id="FAQs"></a>FAQs
					</h3>
					<p>
						<strong>Why should we pay the reviewers?<br /></strong>
					<ul>The peer review system has been based on the "today you,
						tomorrow me"" system. However, great reviewers are a valuable
						scarcity in the current trends. Besides, some revisions have
						turned out to be of bad quality, incomplete or delayed, increasing
						costs and affecting the reputation of journals. We think the
						reviewer's job (experts who normally give great reviews) should
						operate in the same way as the evaluator's job already is:
						economically rewarded and at the same time qualified (or
						recognized). We believe in the reviewer's honesty and reputation.
						We also think that with our system, paying the reviewers would not
						cause an incremental price increase for journal acceptance as we
						provide services that save costs to the edition process. By paying
						the reviewers you will have a professional job completed by
						professionals of the reviewing process (besides being solid
						experts in their fields).

					</ul>

					<br>

					<p><strong>What are my duties?</strong></p>
					<ul>
						<p>As the core part of the peer review system the editor would
							need to participate in the following activities:</p>
					</ul>

					<ul>
						<p>
						<li>Editors have the last word on choosing the reviewers.</li>
						<li>You will have free access to reviewer's profiles.</li>
						<li>Editors can open an account in Peerland to cover the cost
							of peer review.</li>
						<li>You will need to have enough cash in your account to pay
							for the work you're immediately requesting from a reviewer so
							Peerland can pay the reviewer or donate to the corresponding
							organization.</li>
						<li>Editors need to evaluate reviewers after their work.</li>
						<li>Once you have received the revision from a reviewer you
							will have five days to communicate your decision to accept the
							revision and evaluate the reviewer. Then Peerland will pay the
							reviewer.</li>
						<li>You will need to upload the instructions for reviewers
							and other necessary documentation specific to carry out the
							review process in your journal.</li>
						</p>
					</ul>

				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}


{% block page-title %}

{% endblock %}