{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
FAQ Organization
{% endblock %}

{% block header-navigation %}

      {% include "navigation-base.html" %}

{% endblock %}

{% block header-profile %}
{% endblock %}

{% block breadcrumbs %}
<div id="extra">
	<div id="breadcrumbs">
		<h2 class="element-invisible">FAQ Organization</h2>
		<div class="breadcrumb">
			<a href="/">Home</a> >> FAQ Organization
		</div>
	</div>
</div>
<div class="clear"></div>

<div id="main">
	<div id="post-content">
		<!-- <h1 class="page-title">How it works</h1> -->
		<div class="region region-content">
			<div id="block-system-main" class="block block-system">

				<div class="content">
						<h2>
							<a name="faq" id="faq"></a><br>
							<p>....</p>
						</h2>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block page-title %} 
{% endblock %}