{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
FAQ Reviewer
{% endblock %}

{% block header-navigation %}

      {% include "navigation-base.html" %}

{% endblock %}

{% block header-profile %}
{% endblock %}

{% block breadcrumbs %}

<div id="extra">
	<div id="breadcrumbs">
		<h1 class="element-invisible">FAQ Reviewer</h1>
		<div class="breadcrumb">
			<a href="/">Home</a> >> FAQ Reviewer
		</div>
	</div>
</div>
<div class="clear"></div>

<div id="main">
	<div id="post-content">
		<!-- <h1 class="page-title">How it works</h1> -->
		<div class="region region-content">
			<div id="block-system-main" class="block block-system">

				<div class="content">	
						<h2>
							<a name="faq" id="faq"></a>FAQ
						</h2>

						<strong><p>How do I start the reviewing process?</p></strong>
						
						<p>When an editor finds you suitable for the review of a manuscript, she/he will send you a review invitation email. You will then have to accept or decline the offer in 48h. After acceptance, you will be prompted to read carefully both, the manuscript and the instructions for authors (from the corresponding journal). Then you will be able to work on the reviewing process following Peerland's guidelines for reviewers, a free easy to use platform guide that facilitates the addition of comments and the reviewing process in general. Declination of a review offer will not be penalized in your RQ score. However, the rejection of 5 consecutive revisions will penalize your RQ.
						</p>
						
						<p>Once you have finished your revision you can submit your review. It is important to stand by the accorded time (or your RQ score will be punished). The editor will then analyze your comments and evaluate your service as well as they will emit the corresponding payment.  
						</p>
						
						<p>Once the author of the manuscript responds to all revisions, and if the editor believes the reviewer needs to revise again the improved manuscript, the reviewer will have another 2 weeks to do so. Failing to do it might cause a halt in your reviewing process and might cause a penalty in your RQ score.
						</p>
						<br>
						
						
						
						<strong><p>How long do I have to accept or reject a manuscript?</p></strong>
						
						<p>Once an editor finds you suitable for being a reviewer you will be contacted by the editor/journal through a message in the platform and an email to your preferred address. You will have 48 h to accept or reject the job. If you accept the job the manuscript together with the instructions for authors of that specific journal will be automatically uploaded into your reviewer's account. 
						</p>
						<br>
					
					
										
						<strong><p>How can I donate to my favorite Scientific program/project?</p></strong>
						
						<p>Once you accept a job you will be asked if you wish to donate the amount earned. In case you wish to donate you will be directed to a drop-down list of organizations where you will be able to track the organizations or search within our registered members. If you don't find the organization or lab you want to donate, you will be able to send an invitation email to the organization or lab manager for including it into Peerland. When you reach a defined threshold Peerland will make a donation in your behalf to the organization you have previously chosen (initially the threshold would be more than 0, but once the number of transactions grow we will implement a threshold of 500 euros for organizations). 
						</p>
						<br>
						
						
					
						<strong><p>When will I or the organization I have choose for donation
							the payment?
						</p></strong>
						
						<p>Once the editor receives your revision he/she will have 5 days to accept and evaluate your work. After the evaluation Peerland will transfer the amount earned to your Peerland account. You will be able to collect your accumulated earnings once a certain threshold is achieved. Initially the threshold will be more than 0, but once the number of transactions have increased we will add an individual threshold of 100 euros. 
						</p>
						<br>
						
					
						<strong><p>What is the Reviewer Quality (RQ) score?</p></strong>
					
						<p>We have created a method to analyze your performance in Peerland (patent pending), to acknowledge your work as a peer reviewer. You can build your reputation as a reviewer by reviewing manuscripts from journals or by participating in a Journal Club.
						</p>
					
						<p>
						Based on Peerland guidelines to conduct a solid peer review, we have also created a guide to evaluate the quality of the revision. This evaluation work is mostly carried out by the editor once the revision process has finished, except for the Journal Club, where the evaluation can be taken by both authors and reviewers. 
						</p>
					
						<p>Once you have registered in our platform and you have updated your publications and h-index, your will obtain a provisional RQ score calculated using our algorithm. This provisional score will position you within two categories based on your experience as a researcher: Novice (RQ<30) or Senior (RQ=30-60). 
						</p>
						
						<p>Once you begin reviewing through our platform, each evaluation will be integrated in our algorithm and your RQ will be re-calculated. After your third revision you will obtain your actual RQ.  Once a reviewer gets an RQ over 60 points he/she will become a Seasoned/Sensei Reviewer.
						</p>
						
						<p>This distinction can be used to determine the price an editor would need to pay for each reviewer per revision:
							<ul>
								<li>Novice - 30 &euro;</li>
								<li>Senior - 50 &euro;</li>
								<li>Seasoned - 100 &euro; </li>
							</ul>
						</p>
						<br>
						
						
						
						<strong><p>Who covers the cost of paying a reviewer? Would that increase the price for submission?</p></strong>

						<p>Peerland is designed to save time and costs associated to the peer-review processes and, therefore, the overall price for publication should decrease. Hence, we at Peerland thinks authors should not cover the costs for paying the reviewers. Reviewer's compensation should not affect the overall price of publication.
						</p>
						<p>However, each journal that joins Peerland will decide how to implement our system and has the final decision on the price an author should pay for publication on their journal. On the other hand, authors have the final word on which journal deserves her/his manuscript to be published. 
						</p><br>
						
						
						
						<strong><p>What is the Journal Club?</p></strong>
						<p>Emulating the traditional journal club that you normally host at your research group with your group members, Peerland is introducing our global (for being on-line) concept of Journal Club, where you can invite an expert in your field to review and improve your pre-published article. 
						</p>
						<p>Our Journal Club is an evolving networking group with the following characteristics:
						</p>
						<ol>
							<li> Authors can gain from the critiques of their expert colleagues in a prepublising virtual meeting with the aim of improving the manuscript before it is sent to a specific journal. Author's using the premium account could find experts on their field using our search engine and select the ones they think are more suitable experts that can help improve the manuscript as well as select the best candidate journal before it is sent for publication. The author would be able to choose between 2-4 reviewers for a journal club. The information interchanges on the journal club within the members are 100% confidential and protected under Peerland's Privacy Terms.
							
							<li> Reviewers can gain experience from their peers when revising a manuscript. After acceptance of the revision and after signing our confidentiality form the reviewers will receive the manuscript from the authors and will have a couple of weeks to review and comment the manuscript. The comments from each reviewer would be uploaded into a shared platform where the reviewers and the author would be able to share their opinions.
							
							<li> Finally, reviewers could boost their RQ: the author and the other reviewers will evaluate the performance of their peers in a similar manner as the editor does. This metric will be also considered in our algorithm to calculate and update your RQ. 
						</ol>
						<br>
						
						
						<strong><p>What is the Experts Club?</p></strong>
						<p>The Experts Club is a project that Peerland would like to implement in the future, where projects, patents, and other types of documents could also be shared under restricted confidentiality and the owners of these documents could get expert advice from experts on their field. 
						</p><br>						
						
						
						
					</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}


{% block page-title %}
{% endblock %}