{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
Editor
{% endblock %}

{% block header-navigation %}

      {% include "navigation-base.html" %}

{% endblock %}

{% block header-profile %}
{% endblock %}

{% block breadcrumbs %}



<!-- Header Starts -->
<!-- Header Ends -->

<div id="extra">
	<div id="breadcrumbs">
		<h1 class="element-invisible">Editor</h1>
		<div class="breadcrumb">
			<a href="/">Home</a> >> Editor
		</div>
	</div>
</div>
<div class="clear"></div>

<div id="main">
	<div id="post-content">
		<!-- <h1 class="page-title">How it works</h1> -->
		<div class="region region-content">
			<div id="block-system-main" class="block block-system">


				<div class="content">



					<div class="content node-page">
						<div
							class="field field-name-body field-type-text-with-summary field-label-hidden">
							<div class="field-items">
								<div class="field-item even" property="content:encoded">
			
									<h2>
										<a name="editors" id="editors"></a>Editors &amp; Journals
									</h2>

									<p>We believe each journal has its own life, rules, specialties and, of course, a need for highly specialized reviewers. Editors are the core component of the publishing system, controlling what is currently published on their journals. We count on you to build Peerland's ecosystem and we believe your journal will benefit dramatically from our professional network.
									</p>
									<p>We are a nonprofit organization with the aim of
										generating jobs (or extra income) for the scientific community
										and providing funds to scientific, medical, social and
										technological projects.</p><br>
										
										
									<h2>
										<a name="why" id="why"></a>Why should I add my journal to Peerland?
									</h2>
									<p>By adding your journal to Peerland you can increase the speed and quality of peer review while receiving certain benefits that directs you to save costs and time in the overall peer review process:
									</p>
									<ul>
										<li>You will have access to high quality reviewers in only two minutes, just by uploading the manuscript and adding some key skills desired in the reviewer.</li>
										<li>Your journal will gain more visibility and credit within the reviewers/authors community.</li>
										<li>Being part of Peerland is because you consider that reviewers' time and high quality work would need to be rewarded.</li>
										<li>You will receive an initial badge of free peer review works.</li>
										<li>You can register other section editors of your journal to operate independently from you.</li>
										<li>Your revisions would be carried out in a timely manner (from less than one week to 72 hours)</li>
										<li>The format of your journal will be respected</li>
										<li>Our search engine would help you select expert reviewers classified on performance (RQ), h index, etc.</li>
										<li>You will have the option to help laboratories, departments, etc. fund their research and contribute to scientific advancements.</li>
										<li>You will have the option to participate in nonprofit donations campaigns on behalf of your journal.</li>
										<li>Possibility of offering skill-directed advertising campaigns, job posts, etc., through our website.</li>
									</ul>
									<br>
									
									
									
									<h2>
										<a name="registration" id="registration"></a>Registration
									</h2>
									<strong><p>How can I register my journal in Peerland?
									</p></strong>
									<p>Editors would need to register using the Editor registration site. When you register you will be prompted to add the journal details. The editor will need to upload the instructions for reviewers and other necessary documentation specific to carry the review process in your journal. You can also add people from your team like Section Editors or Guest Editors for managing the review process of manuscripts.
									</p>
									<br>
									
									<strong><p>What do I get when I register my journal?
									</p></strong>
									<ul>
										<li>After confirmation of your account, an initial offer of free reviews will be offered after your registration. The number of remaining free reviews will appear at the upper right corner of your journal site.</li>
										<li>A website space will be designated to each journal as well as the tools to interact with the chosen reviewer.</li>
										<li>Editors would be able to access the reviewers search engine.</li>
										<li>Editors can export the review result in the formats: XML, .doc, .docx, .txt, pdf, etc.</li>
									</ul>
									<br>
									
									
									
									<h2>How it works<a name="how" id="how"></a></h2>
									
									<p>Once an editor receives a manuscript and decides to use Peerland's professional services, the editor must upload the manuscript into the platform. By uploading the abstract, keywords, and desired skills, a page with the 6 most relevant reviewers will display. The editor will be able to check the reviewers' profiles and select the necessary number of reviewers. The editor could also choose up to 4 more reviewers in order of preference. In case one of the preferred reviewers rejects the manuscript, the following reviewer in the list will immediately receive an invitation email. 
 									</p>
									<p>After selecting the reviewers an email will be sent to them with the manuscript title. The reviewers will have 36 hours to accept or reject the invitation. After accepting they will be able to download the manuscript and the instructions for reviewers. Then the reviewers will have up to one week to revise the manuscript.
		 							</p>							 
									<p>Once the revision process is complete and submitted, the editor will have five days to carefully revise the reviewer's comments, then accept or reject the review by sending an acknowledgement email to the reviewer and proceed with the evaluation.
									</p><br>
									
									<strong><p>Evaluation</p></strong>
									<p>Before you proceed with the acceptance of the revision, you will need to add a quick evaluation of the reviewer. Editors could also consult Peerland's guidelines for evaluation of reviewer performance if necessary. Optionally, you could also explain to the reviewer what he/she should improve or what you would expect from a revision that you miss. Once the evaluation is complete the reviewer or organization will receive the corresponding payment.
									</p><br>
									
									
									
								</div>
							</div>
						</div>
					</div>
</div></div></div></div></div>
{% endblock %}


{% block page-title %}
{% endblock %}