{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
Organization
{% endblock %}

{% block header-navigation %}

      {% include "navigation-base.html" %}

{% endblock %}

{% block header-profile %}
{% endblock %}

{% block breadcrumbs %}
<div id="extra">
	<div id="breadcrumbs">
		<h2 class="element-invisible">Organization</h2>
		<div class="breadcrumb">
			<a href="/">Home</a> >> Organization
		</div>
	</div>
</div>
<div class="clear"></div>

<div id="main">
	<div id="post-content">
		<!-- <h1 class="page-title">How it works</h1> -->
		<div class="region region-content">
			<div id="block-system-main" class="block block-system">

				<div class="content">
					<h2>
						<a name="organizations" id="organizations"></a>Organizations
					</h2>

					<p>
						As part of the Society for the
						Improvement of Science, SACSIS, we are committed to the
						scientific community. We know the challenges that researches
						are facing worldwide to raise funding for researchers and/or
						projects, and how specific vulnerable areas have suffered more
						than others, specifically due to the scarcity of public
						funding.
					</p>
					<p>We are a nonprofit organization with the aim of
						generating jobs (or extra income) for the scientific community
						and providing funds to scientific, medical, social and
						technological projects.</p>
					<br>
						
						
					<h2>
						<a name="which" id="which"></a>Which organizations could benefit from our programs?
					</h2>
					<p>You can create your own site at Peerland if you have a
						laboratory, university department, or specific collaborative
						project for which you need to raise some funds.</p>
					<p>You can have access to our special fundraiser program
						through Peerland if you are a scientific, medical,
						technological or other type of society, foundation or
						nonprofit organization with a specific link to the scientific
						publishing and peer review systems.</p>
					<br>
						
					<h2>
						<a name="how" id="how"></a>How it works
					</h2>
					<ul>
						<li>Whether you have a specific project in your laboratory, a
							technician, a PhD, a postdoc in need of funding, whether you
							are an environmental organization, a social endeavour project,
							a scientific organization, societies for the care of specific
							patient populations, rare diseases, etc., Peerland is your
							place to explain your specific need or project to the
							scientific community and raise funds through your peers and
							your favourite journals.
						</li>
						
						<li>Register your organization,
							add your project for which you would like to raise funds, set
							up your goals and keep track of the funds you raise over time.
						</li>
						
						<li>Direct your collaborator peers to work through Peerland when
							they are asked to perform a peer review or evaluation of a
							project and receive donations from their charitable work.
						</li>
						
						<li>Get editors to collaborate on your projects through Peerland.
							We offer to the journals the option of back contribution to
							scientific research through the peer review work of
							specialists and the option of contributing to social
							endeavours by funding projects which ultimately helps in
							advancing research, and thus generating more publications.
						</li>
						
						<li>Use our blog platform to spread your needs to the scientific
						community, and get public awareness through our news releases.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block page-title %} 
{% endblock %}