{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
Reviewer
{% endblock %}

{% block header-navigation %}

      {% include "navigation-base.html" %}

{% endblock %}

{% block header-profile %}
{% endblock %}

{% block breadcrumbs %}

<div id="extra">
	<div id="breadcrumbs">
		<h1 class="element-invisible">Reviewer</h1>
		<div class="breadcrumb">
			<a href="/">Home</a> >> Reviewer
		</div>
	</div>
</div>
<div class="clear"></div>

<div id="main">
	<div id="post-content">
		<!-- <h1 class="page-title">How it works</h1> -->
		<div class="region region-content">
			<div id="block-system-main" class="block block-system">

				<div class="content">	
						<h2>Become a Reviewer at Peerland (is free and worthy)</h2>
						<br>
						
						<h2>
							<a name="reviewers" id="reviewers"></a>Reviewers
						</h2>
	
						<p>Become a professional reviewer and get credit for it.
						Registration in Peerland is free. Upload your publications and
						begin your professional career as a reviewer at Peerland. Get
						funds for your project, laboratory, department or even donate to
						any of the nonprofit organizations registered with us. Build your
						Reviewer Quality (RQ) coefficient and get an index that measures
						your performance as reviewer.</p><br>
						
						
						<h2>
							<a name="registrationProcess" id="registrationProcess"></a>Registration process
						</h2>
						
						<p>To become a Reviewer the first thing you will need to do is to Register. Once you have added your personal data you will be asked to upload the manuscripts you have participated as an author (or co-author), and/or include your h-index (you can calculate your h-index using our Google Scholar API tools, click here for instructions). </p>
						<p>Initially, you will be classified within one out of the three segments (novice, senior or seasoned) based on your experience as an author. But our final aim is to create a method to quantify your value as a reviewer (RQ). To start building your RQ score, you will need to perform 3 revisions free (unless the editor agreed to donate the money to an organization of your choice). After 3 revisions you will be classified per your experience, qualifications and work as reviewer in our platform.</p>
						<p>Second you will be asked to provide information about your skills and expertises. Automatically you will be included and classified in our search engine by expertise and you could be contacted by editors to perform high quality review work for them.</p>
						<br>
						
						<h2>
							<a name="premium" id="premium"></a>Premium account
						</h2>
						<p>As part of our launching program we're offering free access to a premium account for a period of one year to the first 10.000 reviewers registered with us. The premium account includes: </p>
						<p>
							<ul>
								<li>Access to self-advertise
									<ul>
										<li>manage your site to offer your services to Editors in need of your skills.</li>
										<li>using our search engine you will be able to find journals in need of your service.</li>
										<li>with a simple click your profile will get highlighted in journal sites.</li>
									</ul>
								</li>
								<li>Private contact with authors/reviewers.
									<ul>
									 	<li>Build your professional network.</li>
										<li>As an author, you could use our search engine to find experts and create your own journal club or experts club.</li>
									</ul>
								</li>
								<li>Access to job posts. Direct contact with headhunters.</li>
								<li>Offer faster peer review (up to 1 week or less) to editors for 20% increase in your check.</li>
								<li>Offer review with improvements (proofreading, copyediting, methodology, etc) of the article (20% increase in price)</li>
								<li>Possibility of creation of blogs, groups, etc </li>
								<li>Gain 7 days of freemium account for each referred.</li>
							</ul>
						</p><br>
					</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}


{% block page-title %}
{% endblock %}