{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Mission
{% endblock %}

{% block header-navigation %}

      {% include "navigation-base.html" %}

{% endblock %}


{% block header-profile %}
{% endblock %}

{% block breadcrumbs %}
<div id="extra">
	<div id="breadcrumbs">
		<h1 class="element-invisible">MISSION</h1>
		<div class="breadcrumb">
			<a href="/..">Home</a> >> Mission
		</div>
	</div>
</div>
<div class="clear"></div>

<div id="main">
	<div id="post-content">
		<!-- <h1 class="page-title">MISSION</h1>  -->
		<div class="region region-content">
			<div id="block-system-main" class="block block-system">


				<div class="content">

					<div class="content node-page">
						<div
							class="field field-name-body field-type-text-with-summary field-label-hidden">
							<div class="field-items">
								<div class="field-item even" property="content:encoded">
									<h2>
										<a name="whoweare" id="whoweare"></a>Who we are
									</h2>
									<p align="justify">Peerland is the place where researchers
										meet editors and vice versa. It's a site where:</p>

									<ol>
										<li>Reviewers from all disciplines have the opportunity
											to become professionals of the peer review process and have
											their performance evaluated and rewarded.</li>
										<li>Editors find the best and most appropriate reviewers
											for their journals' articles in two minutes.</li>
										<li>Organizations, including laboratories, departments
											and nonprofit organizations can present their respective
											projects to receive donations from Peerland's users.</li>
									</ol>
									<h2>
										<a name="objetives" id="objetives"></a>Objetives
									</h2>
									<p align="justify">Our objectives are to:</p>
									<ol>
										<li>Support the advancement of Scientific Research by
											<ul>
												<li>redirecting funds from the peer review work to
													research projects, laboratories, departments, etc.</li>
												<li>finding new income opportunities for researchers
													that perform excellent peer review work at Peerland.</li>
												<li>helping other nonprofit organizations recruit funds
													for their scientific projects</li>
											</ul>
										</li>
										<li>Help editors
											<ul>
												<li>find and choose high quality reviewers (in less
													than two minutes) using our search engine.</li>
												<li>provide a high quality review for a manuscript in
													less than two weeks, saving time and costs in the editorial
													process.</li>
											</ul>
										</li>
										<li>Support nonprofit organizations by direct donations
											from Peerland platform's users. We'll be a channel for
											scientists/users to support Science (or other philanthropic
											organizations) with one click of a button.</li>
									</ol>
									<h2>
										<a name="ourmission" id="ourmission"></a>Our Mission
									</h2>
									<p align="justify">Peerland is a project within its mother
										nonprofit organization SACSIS, the Society for the Improvement
										of Science, thus our mission is aligned with SACSIS on the
										promotion of scientific research and technological innovation.
									</p>
									<p align="justify">We have focused on a particular problem
										in the scientific community within the publishing sector,
										which is nowadays a highly debated field. New initiatives are
										trying to reinvent the publishing and peer review system,
										while others are simply trying to find a different niche to
										improve their competitiveness.</p>
									<p align="justify">Peerland is focused on the peer review
										system and its inherent characteristic that has been a taboo
										for decades: it is an unpaid job. The reason why it is an
										unpaid work remains unclear, but the main reason points to the
										possible corruption of the reviewer by being compensated for
										their work by an economic retribution. We believe this
										presumption of guilt is antiquated and lacks any scientific
										evidence.</p>
									<p align="justify">A recent survey, The Peer Review Survey
										2009, estimated that more than 40% of reviewers would feel
										more likely to review if they were economically compensated.
										Our own survey indicates that most (over 70%) of reviewers
										would like to be economically compensated. We also believe
										that compensating reviewers would increase not only their
										likelihood of accepting a manuscript for review, but also
										positively affecting the quality and timing of the review. In
										order to measure reviewer quality and commitment we also
										introduced the Reviewer Quality coefficient RQ, estimated
										mostly by the evaluation performed by the editors of journals
										after the review process. We are also working to include other
										reviewers and authors to collaborate in the evaluation of the
										RQ through the Journal Club.</p>
									<p align="justify">Our aims in the short term are:</p>
									<ol>
										<li>Create the figure of the professional reviewer.</li>
										<li>Increase the quality while decreasing the time and
											cost of the peer review process</li>
										<li>Provide the option to reviewers of donating their
											peer review income to scientific projects and nonprofit
											organizations in need of funding</li>
									</ol>
									<p align="justify">What are our future projects at
										Peerland?</p>
									<p align="justify">As a nonprofit organization focused on
										supporting science, medical and technological projects,
										Peerland would make use of the profit generated through our
										platform to invest in different projects, depending on the
										funds collected and on the market needs. Some of the proposed
										projects might include the following:</p>
									<ol>
										<li>Adopt a PhD/Postdoc (give economical support to
											students to pursue their PhD thesis and/or postdoctoral
											fellow).</li>
										<li>Funding scientific, medical or technological projects
											or other different disciplines.</li>
										<li>Funding translational research.</li>
										<li>Supporting scientific and technological spin-off
											companies.</li>
									</ol>
									<h2>
										<a name="anonprofit" id="anonprofit"></a>A non Profit
									</h2>
									<p align="justify">A nonprofit organization</p>
									<p align="justify">Peerland is part of the Society for the
										Improvement of Science (SACSIS), a nonprofit scientific
										organization committed to reinvesting the profits into Science
										through different programmes: research fellowships, project
										grants, translational science programs, etc. SACSIS was
										founded to promote scientific research and technological
										innovation at the highest levels. Amongst others, SACSIS's
										general purpose is to prevent the editorial bias that is
										affecting the negative results of main scientific research.
										The All Results Journals was created as a four-set of total
										open access journals, widely supported by volunteers
										worldwide, in order to give negative results the importance
										they deserve and combat the existing publication bias in drug
										chemistry, biochemistry and biomedical research. The journals
										have a Scientific Advisory Board composed of more than 100
										international researchers coming from many diverse areas, such
										as Nanotechnology, Molecular Biology, Cell Imaging,
										Bionanotechnology and Organic Chemistry, among others.</p>
									<p align="justify">SACSIS is also managing other diverse
										programs like a) a specific educational program for young
										Spanish researchers ""Time management for scientists"" and b)
										promoting the access to European funding to Spanish (and
										Spanish speakers) researchers through a specific educational
										program and website.</p>
									<h2>
										<a name="perq" id="perq"></a>Performance Evaluation (RQ)
									</h2>
									<p align="justify">Performance evaluation</p>
									<p align="justify">We have created a method to analyse your
										performance in Peerland, the Reviewer Quality (RQ) coefficient
										(patent pending), to acknowledge your work as a peer reviewer.
										You can build your reputation as a reviewer by reviewing
										manuscripts from journals or by participating in a Journal
										Club.</p>
									<p align="justify">Based on Peerland guidelines to conduct
										a solid peer review, we have also created a guide to evaluate
										the quality of the revision. This evaluation work is mostly
										carried out by the editor once the revision process has
										finished, except for the Journal Club, where the evaluation
										can be taken by both authors and reviewers.</p>
									<p align="justify">Once you have registered in our platform
										and you have updated your publications and h-index, your will
										obtain a provisional RQ score calculated using our algorithm.
										This provisional score will position you within two categories
										based on your experience as a researcher: Novice (RQ&lt;30) or
										Senior (RQ=30-60).</p>
									<p align="justify">Once you begin reviewing through our
										platform, each evaluation will be integrated in our algorithm
										and your RQ will be re-calculated. After your third revision
										you will obtain your actual RQ. Once a reviewer gets an RQ
										over 60 points he/she will become a Seasoned/Sensei Reviewer.</p>
									<p align="justify">This distinction can be used to
										determine the price an editor would need to pay for each
										reviewer per revision:</p>
									<ul>
										<li>Novice - 30 euros</li>
										<li>Senior - 50 euros</li>
										<li>Seasoned - 100 euros</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
</div></div></div></div></div>


{% endblock %}