{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
Team
{% endblock %}

{% block header-navigation %}

      {% include "navigation-base.html" %}

{% endblock %}


{% block header-profile %}
{% endblock %}

{% block breadcrumbs %}

<div id="extra">
	<div id="breadcrumbs">
		<h1 class="element-invisible">TEAM</h1>
		<div class="breadcrumb">
			<a href="/">Home</a> >> Team
		</div>
	</div>
</div>
<div class="clear"></div>

<div id="main">
	<div class="row">
		 <div class="col-sm-3">
					<!--  David Alcantara -->
					<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/3/000/0ba/01f/0d17416.jpg"  height="160px" class="img-rounded"><br>
						<a href=""><p class="text-primary">David Alc&aacute;ntara</a>
						<br>
						<small>(President, COO and co-founder. MBA)</small><p>
					<br>
		 </div>	
		 <div class="col-sm-9 bg-warning">
		 <br>
		 	David Alc&aacute;ntara, PhD, MBA. is currently the President and founder of the Society
		 	for the Improvement of Science (SACSIS). Co-founder and Chief Operations Officer
		 	at Peerland, he also serves as the Editor in Chief at The All Results Journals since 2008.
		 	At present, Dr. Alcantara is Senior Marie Curie fellow at the Andalusian Center for Nanomedicine (Bionand, Spain).
		 	He previously worked as Fulbright and Marie Curie fellow at Harvard Medical School with Prof.
		 	Lee Josephson developing a new sensing nanotechnology platform for biomedical applications.
		 	Dr. Alcantara is an active scientific entrepreneur with experience in the third and editorial sectors. 
		 	<br><br> 
		</div>
	</div>
		 
		 
		 
	<div class="row">				
		 <div class="col-sm-3">
					
					
					<!--  Emilio Gonzalez -->
					<img src="media/reviewer/photos/nouser.jpg"  height="160px" class="img-rounded"><br>
						<a href=""><p class="text-primary">Emilio Gonz&aacute;lez</a>
						<br>
						<small>(BDM and co-founder. IE business school MFSR)</small></p>
					<br>
		 </div>	
		 <div class="col-sm-9 bg-warning">
		 <br>	
		 	Emilio Gonz&aacute;lez, PhD. BDM of Peerland.
		 	 Emilio is an experienced entrepreneur formed in the Silicon Valley and at the IE business school of Madrid.
		 	  He previously was a postdoctoral researcher at Christopher Contag lab within the Molecular
		 	   Imaging Program at Stanford (MIPS) and the biotech company TransdermInc working on RNAi therapeutics
		 	    and delivery of siRNAs to skin for the treatment of the rare skin disorder Pachyonychia congenita.
		 	     While at Stanford he actively participated in AIMS (the postdoc link to entrepreneurship at Stanford)
		 	      and co-founded the biotech Skin Deep Diagnostics.	
		 	 <br><br>		
		 </div>
	</div>		
					
	<div class="row">							
		<div class="col-sm-3">
					
					<!--  Enrique Pelaez -->
					<img src="media/reviewer/photos/nouser.jpg" height="160px" class="img-rounded"><br>
						<a href=""><p class="text-primary">Enrique Pelaez</a>
						<br>
						<small>(Engineer)</small></p>
					<br>
		 </div>	
		 <div class="col-sm-9 bg-warning">	
		 <br>
		 	Enrique Pel&aacute;ez - Enrique is the Head Software Engineer at Peerland.
		 	 He has a degree in Computer Engineering, Information Technology and Software Engineering obtained at Malaga University.
		 	  Throughout his work he has specialized in multi-platform systems administration,
		 	   virtualization systems, embedded system design and multilingual programming. From November 2011
		 	    is IT Manager at the Andalusian Center of Nanomedicine and Biotechnology (BIONAND).	
		 	    <br><br>				
		 </div>
	</div>				
				
				
	<div class="row">								
		 <div class="col-sm-3">
					<!--  David M -->
					<img src="media/reviewer/photos/nouser.jpg" height="160px" class="img-rounded"><br>
						<a href=""><p class="text-primary">David Mi&ntilde;&oacute;n Saborido</a>
						<br>
						<small>(Software Engineer)</small></p>
					<br>
		 </div>	
		 <div class="col-sm-9 bg-warning">	
		 	<br>
		 	 				Stundent of Computer Engineering - Software Engineering at Seville University.
		 	 				Skills and knowledges in Information Systems development, Big Data, planning and project management,
		 	 				requirements elicitation, desing, testing and configuration management. <br>
		 	 				Working in SACSIS by ScholarShip Santander CRUE-CEPYME.
						<br><br>				
		 </div>
	</div>			
	
	<div class="row">				
			
		 <div class="col-sm-3">
					<!-- Belen -->
					<img src="media/peerland/MBSJ.jpg" height="160px" class="img-rounded"><br>
						<a href=""><p class="text-primary">M&ordf; Bel&eacute;n Su&aacute;rez</a>
						<br>
						<small>(Community Manager)</small></p>
					<br>
		 </div>	
		 <div class="col-sm-9 bg-warning">
		 <br>
		 	M&ordf; Bel&eacute;n Su&acute;rez, PhD. is currently the Community Manager of the Society for the Improvement of Science (SACSIS)
		 	and The All Results Journals creating, managing and growing their presence through blogs, Facebook, and other
		 	strategically relevant online properties. Her experience in Quality Management Systems in the private sector
		 	enables her to manage project's documentation, as well as setting goals and indicators or supplier management.
		 	She previously worked in the Laboratory of Bioorganic Synthesis, at the University Louis Pasteur, directed by Dr.
		 	Charles Mioskowski and Dr. Alain Wagner in the synthesis of compounds derived from phosphorus used as target
		 	molecular templates for asymmetric catalysis and molecular recognition.
		 	During her PhD she worked developing new approximations for the asymmetric synthesis of chiral compounds
		 	with added values.
			<br><br>
		 </div>
	 
	</div>	

</div>
{% endblock %}

{% block page-title %}
{% endblock %}