{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
Welcome to Science
{% endblock %}


{% block javascript-form %}

{% endblock %}


{% block header-navigation %}


{% endblock %}


{% block header-profile %}
{% endblock %}


{% block navigation-custom %}
<li class="leaf"><a title="" href="/accounts/login">Login</a></li>
<li class="last leaf"><a title="Sign up" href="/accounts/register/">Signup</a></li>
{% endblock %}


{% block breadcrumbs %}
 {% endblock %}


{% block page-title %}
{% endblock %} 