{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
	Mis Grupos
{% endblock %}


{% block page-title %}
	Search
{% endblock %}


{% block content %}

 

    {% if results %}
      <ul>
      {% for aux in results %}
      	<div class="row">
		  <div class="col-sm-6 col-md-4">
		    <a href="{% url "user_profile_withId" aux.user.id %}">
		    <div class="thumbnail">
				<img src='{{ aux.photo.url }}' class="img-circle" height="200e" width="200e"/><br>
		      <div class="caption">
		        <h3>{{aux.user.first_name|capfirst}}&nbsp;{{aux.user.last_name|capfirst}}</h3>
		        <p>Research field: {{aux.research_field}}</p>
		        <p>Specialty: {{aux.research_specialty}}</p>
		      </div>
		    </div></a>
		  </div>
		</div>
      
      {% endfor %}
      </ul>
    {% else %}
      <p>No results.</p>
    {% endif %}
  

	
	
{% endblock %}

{% block adds %}

<form action="/users/search" method="POST" enctype="multipart/form-data">{% csrf_token %}
    
    {{ formulario.as_p }}
        <input type="submit" value="Buscar">
    
    
    
 </form>
 {% endblock %}
 