{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
Profile
{% endblock %}

{% block content %}

	
	<form action="/users/profile" method="post" enctype="multipart/form-data">{% csrf_token %}
	<fieldset>
	<legend>{{users.user.first_name}}
		{{users.user.last_name}}</legend></fieldset>
	{{users_form.as_p}}

	
			<div class="actions">
				<input type="submit" value="Update">
			</div>
	</form>


	{% if is_principal %}

	<div><h1>Offers</h1></div>
		{% for offer in offers %}
			<a href="{% url "view_offer" offer.id %}">
					<div class="panel">
						<blockquote>
							<p>{{offer.title}}</p>
							<footer>{{offer.description}}</footer>
						</blockquote>
						
				</div>
			</a>
		{% endfor %}
	{% endif %}


{% endblock %}

{% block adds %}
<div>
	<img src='{{ users.photo.url }}' class="img-circle" height="200e" width="200e"/><br>
	<a href='{{users.curriculum.url}}'>Acceder a su curriculum</a><br>

		<div>
						<form >
						<fieldset><legend>Keywords</legend>
				        {% for word in keywords %}
				        	<div class=' btn btn-warning btn-xs'>
				        		{{word.word}}
				        		{% if is_young %}
				        		<a href="/users/keyremove/young/{{users.id}}/{{word.word}}"/>
				        		<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"/>
				        		</a>
				        		{% else %}
				        		<a href="/users/keyremove/principal/{{users.id}}/{{word.word}}"/>
				        		<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"/>
				        		</a>
				        		{% endif %}
				        	</div>
				        
				        {% endfor %}
				        </fieldset>
				        </form>
		</div>		
		<br>
		<div>
		<form action="/users/profile" method="post" enctype="multipart/form-data">{% csrf_token %}
		
			{{keywords_form.as_table}}
			
			<div class="actions">
				<input type="submit" value="Add keywords">
			</div>
		</form>
		</div>
</div>





{% endblock %}



